
.urlForm {
    border:black; 
    border-width:2px; 
    border-style:solid;
    height: 500px;
    width: 400px;
    margin-left: 30%;
    margin-top: 5%;
}

.input-url {
    height: 40px;
    margin-left: 50px;
    margin-top: 20px;
}

button {
    margin-left: 10px;
}